@{
    ViewBag.Title = "PRDCRfriend";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />

    @{
        string s = "Today Is:";
        DateTime d = DateTime.Now;
        DateTime t = DateTime.Now;

        <h5><b>@s.ToString()</b></h5>
        <h5>@d.ToShortDateString()</h5>
        <h5>@t.ToShortTimeString()</h5>

    }

    <br />
    <br />
    <br />
    
    <header class="hero">
        <div class="container-fluid">
            <p>An essential organization and communication tool for Music Producers.</p>
            <p><a class="btn btn-default" href=@Url.Action("https://localhost:44316/Account/Register")>Join now &raquo;</a></p>
        </div>
    </header>

   

    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(99, 79, 131,0.5); mix-blend-mode: overlay;"></div>


    

    <br />
    <br />


</body>
</html>
