@{
    ViewBag.Title = "PRDCRfriend";
}
<br />
@{
    string s = "Today Is:";
    DateTime d = DateTime.Now;
    DateTime t = DateTime.Now;

    <h5><b>@s.ToString()</b></h5>
    <h5>@d.ToShortDateString()</h5>
    <h5>@t.ToShortTimeString()</h5>

}

<div class="jumbotron" style="background: url(/Content/assets/PRDCRfriend.gif) no-repeat center; background-size: cover; padding-top: 100px; " />
<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
 
    <p class="lead" style="color: #ffffff;">An essential organization and communication tool for Music Producers.</p>
    <p><a class="btn btn-default" href="https://localhost:44316/Account/Register">Join now &raquo;</a></p>
</div>













